%h1 #{t('headings.contribute_to_the_doc')}
.row
  .large-.larg-centered.columns
    = form_for(:art) do |f|
      .control-group
        = f.text_field :name, id: "#", placeholder:"Your Name"
      .control-group
        = f.text_field :email, id: "#", placeholder:"youremail@example.com"
      .control-group
        = f.text_field :title, id: "#", placeholder:"Title of Art (if known)"
      .control-group
        = f.text_field :location, id: "#", placeholder:"address"
      .control-group
        = f.text_field :image, id: "#", placeholder:"photo of art"
      .control-group
        =f.text_area :comment, id: "#", placeholder: "comments"

      =submit_tag "sumbit"


