%h1
  Contribute to the Documentary
.row
  .large-.larg-centered.columns
    = form_tag('/') do
      .control-group
        = text_field_tag "name", nil, id: "#", placeholder:"Your Name"
      .control-group
        = text_field_tag "email", nil, id: "#", placeholder:"youremail@example.com"
      .control-group
        = text_field_tag "title", nil, id: "#", placeholder:"Title of Art (if known)"
      .control-group
        = text_field_tag "location", nil, id: "#", placeholder:"google maps link or address"
      .control-group
        = text_field_tag "image", nil, id: "#", placeholder:"photo of art"
      .control-group
        =text_area_tag "comments", nil, id: "#", placeholder: "comments"

      =submit_tag "sumbit"


