#content
  #siteNotice
  %h4 #{t('headings.art_title')}
  %p#firstHeading.firstHeading #{art.title}
  %h4 Artist:
  %p#secondHeading.secondHeading #{art.artist}
  %h4 Location:
  %p#secondHeading.secondHeading #{art.location[:address]}
  %h4 Comment:
  %p#secondHeading.secondHeading #{art.comment}
  %button#data-reveal-id="addPhotoModal" href='#' Add A Photo of This Art</button
  #bodyContent.row
  .large-11.large-centered.columns

#{art.image_tags}
