.row
  .large-9.columns
    = text_field_tag 'location', nil, placeholder: "#{t('placeholders.map_search')}", id: "address"
  .large-3.columns
    = link_to "FIND", "#", id: "go-to-address", class: "custom-button"
    %br/

.row
  .large-12.large-centered.columns
    #map_canvas
.row
  .large-6.columns
    =link_to "Gallery", '#', class: "custom-button", id: "gallery"
  .large-6.columns
    =link_to "Map", '#', class: "custom-button"


#myModal.reveal-modal
  =render template: "arts/new"
  %a.close-reveal-modal ×


%script#sidebar-template{:type => "text/x-handlebars-template"}
  %h4
    Title:  {{ art.title }}
  %h5
    Artist  {{ art.artist }}
  %p#art-comment Comment: {{ art.comment }}
  .image_carousel
    %ul#carousel
      {{ imageTags }} 
    .clearfix
    #carousel-buttons
      %a.prev.custom-button#art-prev{ :href => "#"} prev
      %a.next.custom-button#art-next{ :href => "#"} next
    %form{ enctype: 'multipart/form-data', method: 'post', action: '/images'}
      %input#add-photo-image{ type:'file', name:'image' }
      %input#add-photo-artid{ type:'hidden', name:'art_id', value:'{{ art.id }}' }
      %input#add-photo{ type:'submit' }
  
:javascript
  var map;
  var geocoder;

  function initialize() {

    var artObjects = #{art_objects(@arts).to_json};
    geocoder = new google.maps.Geocoder();

    var myLatlng = new google.maps.LatLng(#{@center_point[:lat]}, #{@center_point[:long]})

    var mapOptions = {
      zoom: 13,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById('map_canvas'),
        mapOptions);
    markersArray = [];

    for (var i = 0; i < artObjects.length; i++) {
      var art = artObjects[i];
      var marker = createMarker(art);

      google.maps.event.addListener(marker, 'click', function() {
        populateSideBar(this.art_id);
        resetMarkerIcons(marker.pinImage);
        saveIconState(this);
        this.setIcon(marker.pinImage2);
      });

      var files = [];
      markersArray.push(marker)
    }
  }

  google.maps.event.addDomListener(window, 'load', initialize);

