<div class="row">
  <div class="small-11 large-centered columns">
    <%= form_for(@art, html: {multipart: true}) do |f| %>
      <div class="control-group">
        <%= f.text_field :title, placeholder: "#{t('placeholders.art_title')}" %>
      </div>
      <div class="control-group">
        <%= f.text_field :artist, placeholder:"#{t('placeholders.artist_name')}" %>
      </div>
      <div class="control-group">
        <%= f.text_area :comment, placeholder: "#{t('placeholders.comments')}" %>
      </div>
      <%= f.fields_for :location do |p| %>
        <div class="control-group">
          <%= p.text_field :address, placeholder: "#{t('placeholders.address')}" %>
        </div>
      <% end %>
      <%= f.fields_for :image do |i| %>
        <div class="control-group">
          <%= i.label :image, "#{t('placeholders.image')}" %>
          <%= i.file_field :image %>
        </div>
      <% end %>
      <br/>
      <br/>
      <%= f.submit "#{t('buttons.submit')}", class:"custom-button" %>
    <% end %>
  </div>
</div>

<script>
  function getLocation() {
    if (navigator.geolocation)
      { navigator.geolocation.watchPosition(showPosition); }
    else
    { x.innerHTML="Geolocation is not supported by this browser."; }
  }
  function showPosition(position) {
    $("#art_location_attributes_address").val(position.coords.latitude + "," + position.coords.longitude);
  }

  getLocation();
</script>
