%h1 #{t('headings.contribute_to_the_doc')}
.row
  .small-11.large-centered.columns
    = form_for(@art, html: {multipart: true}) do |f|
      .control-group
        = f.text_field :title, placeholder: "#{t('placeholders.art_title')}"
      .control-group
        = f.text_field :artist, placeholder:"#{t('placeholders.artist_name')}"
      .control-group
        =f.text_area :comment, placeholder: "#{t('placeholders.comments')}"

      =f.fields_for :location do |p|
        .control-group
          =p.text_field :address, placeholder: "#{t('placeholders.address')}"
      = f.label :image, "#{t('placeholders.image')}"
      = f.file_field :image
      %br/
      %br/
      =f.submit "#{t('buttons.submit')}", class:"custom-button"

