<header class="navigation">
  <div class="menu-wrapper">
    <ul class="nav nav-button" id="navigation-menu">
      <li>
        <%= link_to t('nav.map'), arts_path %>
      </li>
      <li>
        <%= link_to t('nav.gallery'), gallery_path %>
      </li>
      <li>
        <div class="modal">
          <a>
            <label for="modal-1">
              <%= t('nav.contribute') %>
            </label>
          </a>
          <input class="modal-state" id="modal-1" type="checkbox" />
          <div class="modal-window">
            <div class="modal-inner">
              <label class="modal-close" for="modal-1"></label>
              <%= render 'arts/new_art_form' %>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="logo">
      <%= link_to 'ARTISTIC STREETS', root_path %>
    </div>
    <p id="js-mobile-menu"><span class="icon-menu"></span></p>
  </div>
</header>