<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
  <title>
    <%= content_for?(:title) ? yield(:title) : "Artistic Streets" %>
  </title>
  <%= stylesheet_link_tag "application" %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js"%>
  <%= csrf_meta_tag %>
</head>
<body class="off-canvas slide-nav" id="page">
  <%= render 'header_nav' %>
  <!-- <%= render 'side_nav' %> -->
  <section class="main-body" role="main">
    <% if flash.notice %>
      <div class="row">
        <div class="samll-11 large-centered columns">
          <div class="alert-box success">
            <%= flash.notice %>
            <a class="close">
              x
            </a>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </section>
</body>
